{% load static %}

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/hardinn/static/css/loginstyle.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <div class = "login">
        <form>
            <h1> LOGIN </h1>
            <label>Email</label><input type = "text">
            <label>Password</label><input type = "password">
            <button> Login <a href = "home.html"></a> </button>
            <div>
                <label> Remember Me </label> 
                <input type = "checkbox" name = "checkbox" value = "check">
            </div>
            <P>Don't have an account? <a href="{% url 'register' %}">Register</a></P>
            <P>Forgot password? <a href="{% url 'password_reset' %}">Change password</a></P>
        </form>
    </div>
</body>
</html>     