{% extends 'layout.html' %}
{% load static %}

{% block title %}
    HOME
{% endblock %}

{% block content %}
<main>
    <h1 class="titulo-dispositivo">Wallpapers for PC</h1>
    <div class="div-btn-layout">
        <div class="btn-layout" onclick="um()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
            </svg>
        </div>
        <div class="btn-layout" style="margin-left: 10px;" onclick="dois()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
            </svg>
        </div>
    </div>
    <div id="container" class="container">
        {% for product in Laptop %}
            <div>
                <a class="card" href="{{product.image.url}} "height="50%"  width="50%" style="background-image: url('{{product.image.url}}');">
                    <h1>{{product.name}} </h1>
                
                    <w>Planeta - Espaço - Espaco - Paisagem</w>
                    <a href="/productimage.url/{{product.id}}" </a>
                    
                <div style="margin: 12px;"><a href="/add-cart/{{product.id}}">Bookmark</a></div>
            </div>
            {% endfor %}

    </div>

    <h1 class="titulo-dispositivo">Wallpapers for Phone</h1>
    <div id="container" class="container">

        {% for product in Phone %}
       <div>
        <a class="card-cell" href="{{product.image.url}}" style="background-image: url('{{product.image.url}}');">
            <h1>{{product.name}}</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Estrada</w>
         </a>
         <div style="margin: 12px;"><a href="add-cart/{{product.id}}">Bookmark</a></div>
       </div>
       {% endfor %}
    </div>
</main>

{% endblock %}