{% extends 'layout.html' %}
{% load static %}


{% block title %}
      Phone_page
{% endblock %}

{% block content %}

<main>
    <h1 class="titulo-dispositivo">Wallpapers for Phone</h1>
    <div id="container" class="container">
        <h1 class="txt-nao-encontrado">Nenhum Encontrado</h1>
       <div>
        <a class="card-cell" href="estrada_mobile.html" style="background-image: url('{%static 'img/estrada_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Estrada</w>
         </a>
         <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>
        
       <div>
        <a class="card-cell" href="homem_aranha1_mobile.html" style="background-image: url('{%static 'img/homem_aranha1_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>

       <div>
        <a class="card-cell" href="estrada2_mobile.html" style="background-image: url('{%static 'img/estrada2_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Estrada</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>
        
       <div>
        <a class="card-cell" href="homem_aranha2_mobile.html" style="background-image: url('{%static 'img/homem_aranha2_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>

       <div>
        <a class="card-cell" href="estrada3_mobile.html" style="background-image: url('{%static 'img/estrada3_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Estrada</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>

        <div>
            <a class="card-cell" href="homem_aranha3_mobile.html" style="background-image: url('{%static 'img/homem_aranha3_mobile.png'%}');">
                <h1>Baixar</h1>
                <w>Homem Aranha - super-heróis - super-herois - super herois</w>
            </a>
            <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
        </div>
        
        <div>
            <a class="card-cell" href="homem_de_ferro_mobile.html" style="background-image: url('{%static 'img/homem_de_ferro_mobile.png'%}');">
                <h1>Baixar</h1>
                <w>Homem Aranha - Homem de Ferro - super-heróis - super-herois - super herois</w>
            </a>
            <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
        </div>

       <div>
        <a class="card-cell" href="homem_aranha4_mobile.html" style="background-image: url('static 'img/homem_aranha4_mobile.png'');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>

       <div>
        <a class="card-cell" href="montanha_mobile.html" style="background-image: url('{%static 'img/montanha_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Estrada</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>
        
       <div>
        <a class="card-cell" href="astronauta.html" style="background-image: url('{%static 'img/astronauta.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Astronauta</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>

       <div>
        <a class="card-cell" href="ilha_caveira_mobile.html" style="background-image: url('{%static 'img/ilha_caveira_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Ilha - Caveira</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>

        <div>
            <a class="card-cell" href="espaco2_mobile.html" style="background-image: url('{%static 'img/espaco2_mobile.png'%}');">
                <h1>Baixar</h1>
                <w>Planeta - Espaço - Espaco - Paisagem - Ilha - Caveira</w>
            </a>
            <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
        </div>

       <div>
        <a class="card-cell" href="espaco4_mobile.html" style="background-image: url('{%static 'img/espaco4_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem - Ilha - Caveira</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>

       <div>
        <a class="card-cell" href="vingadores.html" style="background-image: url('{%static 'img/vingadores.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - - Homem de Ferro - Capitão América - Capitao America - Vingadores - super-heróis - super-herois - super herois</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>
        
       <div>
        <a class="card-cell" href="homem_aranha7_mobile.html" style="background-image: url('{%static 'img/homem_aranha7_mobile.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>
        <div style="margin: 12px;"><a href="add-cart/{{1}}">Bookmark</a></div>
       </div>
</main>
{% endblock%}