{% extends 'layout.html' %}
{% load static %}

{% block title %}
    HOME
{% endblock %}

{% block content %}
<hr>
<section>
	<h1> Bookmarks</h1> <a style="color:rgb(179, 7, 7);"
	<main class="main" >
        {% if cart %}
{% for product in cart %}
<link rel="stylesheet" href="/hardinn/static/css/liststyle.css">
 <a href="/product-detail/{{product.id}}"> </a>
	<div class= "mine">
     <div><img src="{{product.product.image.url}}" height="50%"  width="50%"></div>
    <a href="/delete-cart-item/{{product.id}}">Delete</a> <a href=""  download="{{product.image.url}}">Download </a></div>
    </div>

                 
                              
                    
                    
                        {% csrf_token %}

		{% endfor %}

        {% else %}
        <div>Your Cart is Empty</div>
        {% endif %}
	</main>
	<hr>
</section>

{% endblock %}

