{% extends 'layout.html' %}
{% load static %}

{% block title %}
    HOME
{% endblock %}

{% block content %}
<hr>
<section>
	<h1> Bookmarks</h1> <a style="color:black;"
	<main class="main" >
        {% if cart %}
{% for product in cart %}
<link rel="stylesheet" href="/hardinn/static/css/liststyle.css">
 <a href="/product-detail/{{product.id}}"> </a>
	<div class= "mine">
     <div><img src="{{product.product.image.url}}" height="50%"  width="50%"></div>
     <form action="/Delete_Cart/{{myproduct.product.id}}" method="post" style="margin:20px">
        {% csrf_token %}
     <input type="submit" value="Delete">
     </form>

                 
                              
                    
                    
                        {% csrf_token %}

		{% endfor %}

        {% else %}
        <div>Your Cart is Empty</div>
        {% endif %}
	</main>
	<hr>
</section>

{% endblock %}

