{% extends 'layout.html' %}
{% load static %}


{% block title %}
      PC_page
{% endblock %}

{% block content %}


<main>
    <h1 class="titulo-dispositivo">Wallpapers for PC</h1>
    <div class="div-btn-layout">
        <div class="btn-layout" onclick="um()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"/>
            </svg>
        </div>
        <div class="btn-layout" style="margin-left: 10px;" onclick="dois()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
            </svg>
        </div>
    </div>
    <div id="container" class="container">
        <a class="card" href="espaco1.html" style="background-image: url('{% static 'img/espaco1.png' %}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem</w>
        </a>
        <a class="card" href="homem_aranha1.html" style="background-image: url('{% static 'img/homem_aranha1' %}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>

            <a class="card" href="espaco2.html" style="background-image: url('{% static 'img/espaco2.png' %}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem</w>
        </a>

        <a class="card" href="homem_aranha2.html" style="background-image: url('{% static 'img/homem_aranha2.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>

    <a class="card" href="espaco3.html" style="background-image: url('{%static 'img/espaco3.png'%}');">
            <h1>Baixar</h1> 
            <w>Planeta - Espaço - Espaco - Paisagem</w>
        </a>

        <a class="card" href="homem_aranha3.html" style="background-image: url('{% static 'img/homem_aranha3.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>

    <a class="card" href="planeta1.html" style="background-image: url('{%static 'img/planeta1.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem</w>
        </a>

    <a class="card" href="homem_aranha4.html" style="background-image: url('{%static 'img/homem_aranha4.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>

    <a class="card" href="montanha.html" style="background-image: url('{%static 'img/montanha.png'%}');">
            <h1>Baixar</h1>
            <w>Montanha - Espaço - Espaco - Paisagem</w>
        </a>

        <a class="card" href="homem_aranha5.html" style="background-image: url('{%static 'img/homem_aranha5.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>

        <a class="card" href="montanha2.html" style="background-image: url('{%static 'img/montanha2.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>

        <a class="card" href="espaco2.html" style="background-image: url('{%static 'img/espaco2.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem</w>
        </a>

        <a class="card" href="espaco4.html" style="background-image: url('{%static 'img/espaco4.png'%}');">
            <h1>Baixar</h1>
            <w>Planeta - Espaço - Espaco - Paisagem</w>
        </a>

        <a class="card" href="homem_aranha6.html" style="background-image: url('{%static 'img/homem_aranha6.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>
        <a class="card" href="homem_aranha7.html" style="background-image: url('{%static 'img/homem_aranha7.png'%}');">
            <h1>Baixar</h1>
            <w>Homem Aranha - super-heróis - super-herois - super herois</w>
        </a>
    </div>
</main>
    
{% endblock%}

